<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.github.mnkz51.ubudev.scheduled-backup</string>
	<key>WorkingDirectory</key>
	<string>/Users/mine/ubudev</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>-c</string>
		<string>docker-compose -f docker-compose.yml -f docker-compose.volume-backup.yml run --rm volume-backup backup</string>
	</array>
	<key>StartInterval</key>
	<integer>86400</integer>
</dict>
</plist>
